<nav class="admin-nav">
  <%= link_to "Users", admin_users_path, class: "button-link secondary" %>
  <%= link_to "Posts", admin_posts_path, class: "button-link secondary" %>
  <%= link_to "Votes", admin_votes_path, class: "button-link secondary" %>
</nav>
